.header_content{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px
}

.header_content_pages{
    width: 50%;
    display: flex;
    justify-content: start;
    padding-left: 3%;
}

.header_content_user{
    width: 50%;
    display: flex;
    justify-content: end;
    padding-right: 3%;
}